<!DOCTYPE html>
<html>
<head>
    <title> MISE A JOUR Utilisateur </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            padding: 0%;
        }
        body { font-family: sans-serif; }

    #main-menu .nav-bar { list-style:none; margin-top: 15px;font-weight: bold; }
    #main-menu .nav-bar li { display:inline; padding:0 10px; }

    #main-menu .nav-bar li a {
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
        text-shadow: 1px 1px 1px #ccc;
    }

    .nav-bar .nav-button-home a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/home.gif") no-repeat 0px -2px transparent; }

    .nav-bar .nav-button-services a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/services.gif") no-repeat 0px -2px transparent; }

    .nav-bar .nav-button-products a { background:url("https://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/products.gif") no-repeat 0px -2px transparent; }

/* Icons courtesy of Thom : http://pixelb.in/assorted-pixel-perfect-14px-icon-set-286/ */
    </style>
</head>
<body>
    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/">Home</a></li>
        </ul>
   </nav>

   <hr>
    <div class="container">
        <h2 style="text-align: center; text-decoration: underline;"> <%= title %> </h2></br>
        <form action="/update" method="POST">
            <input type="hidden" value="<%= user.id %>" name="id" /> 
            <div class="form-group">
                <label for="username" style="font-weight: bold;"> Username : </label>
                <input type="text" class="form-control" id="name" placeholder="Enter The Name " value="<%= user.username %>" name="username" required /> 
            </div>
            <div class="form-group">
                <label for="email" style="font-weight: bold;">Email : </label>
                <input type="email" class="form-control" id="email" placeholder="Enter The Email " value="<%= user.email %>" name="email" required/> 
            </div>
            <div class="form-group">
                <label for="password" style="font-weight: bold;""> Password : </label>
                <input type="password" class="form-control" id="password" placeholder="Enter The Password"  value="<%= user.password %>" name="password" required/> 
            </div>
            <div class="form-group">
                <label for="role" style="font-weight: bold;"> Role : </label>
                <select id="role" value="<%= user.role %>" name="role">
                    <optgroup label="THE ROLE">
                        <option>AUTHOR</option>
                        <option>GUEST</option>
                        <option>ADMIN</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary"> Update </button>
            </div>
        </form>
    </div>
</body>
</html>